In [2]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
import sklearn.metrics as m
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

In [3]:
cars = pd.read_csv('cars.csv')

In [4]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297899 entries, 0 to 297898
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   price    297899 non-null  int64
 1   year     297899 non-null  int64
 2   mileage  297899 non-null  int64
 3   city     297899 non-null  object
 4   state    297899 non-null  object
 5   vin      297899 non-null  object
 6   make     297899 non-null  object
 7   model    297899 non-null  object
dtypes: int64(3), object(5)
memory usage: 18.2+ MB

In [5]:
# classification target will be car price--defined as 'sold high'
cars.head()

,price,year,mileage,city,state,vin,make,model
0,16472,2015,18681,Jefferson City,MO,KL4CJBSBXFB267643,Buick,EncoreConvenience
1,15749,2015,27592,Highland,IN,KL4CJASB5FB245057,Buick,EncoreFWD
2,16998,2015,13650,Boone,NC,KL4CJCSB0FB264921,Buick,EncoreLeather
3,15777,2015,25195,New Orleans,LA,KL4CJASB4FB217542,Buick,EncoreFWD
4,16784,2015,22800,Las Vegas,NV,KL4CJBSB3FB166881,Buick,EncoreConvenience

In [6]:
cars.groupby(['make','model','year']).price.mean()

make     model          year
AM       General        1997     62489.250000
                        1998     47499.500000
                        1999     48097.500000
                        2000     58658.142857
                        2001     71748.000000
                                    ...
Porsche  PanameraTurbo  2013     72924.000000
                        2014     81624.333333
                        2015     88990.000000
                        2017    148993.333333
         Panamerabase   2013     43296.833333
Name: price, Length: 5833, dtype: float64

In [7]:
cars['mean_price'] = cars.groupby(['make','model','year']).price.transform('mean')

In [8]:
cars.head()

,price,year,mileage,city,state,vin,make,model,mean_price
0,16472,2015,18681,Jefferson City,MO,KL4CJBSBXFB267643,Buick,EncoreConvenience,17291.768786
1,15749,2015,27592,Highland,IN,KL4CJASB5FB245057,Buick,EncoreFWD,16721.350598
2,16998,2015,13650,Boone,NC,KL4CJCSB0FB264921,Buick,EncoreLeather,19080.632911
3,15777,2015,25195,New Orleans,LA,KL4CJASB4FB217542,Buick,EncoreFWD,16721.350598
4,16784,2015,22800,Las Vegas,NV,KL4CJBSB3FB166881,Buick,EncoreConvenience,17291.768786

In [9]:
cars['sold_high'] = (cars.price > cars['mean_price']).astype(int)

In [10]:
cars['sold_high'].value_counts()

0    158520
1    139379
Name: sold_high, dtype: int64

In [16]:
num_feats = [col for col in cars.columns if (np.issubdtype(cars[col],np.number)) and (cars[col].unique() > 25)]

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()